* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #5a1e76;
  --bgSecondary: #2B0040;
  --cell: #43115B;
  --playerX: #48D2FE;
  --playerO: #E2BE00;
  --draw: #BCDBF9;
  --newGame: #F4F6F5;
  --hover: #C5A0D7;
  --fc: #000;
  --ff: 'Fredoka', sans-serif;
  --cellDimensions: clamp(9rem, 9rem + 5vw, 14rem);
  --scoreDimensions: clamp(8rem, 8rem + 5vw, 12rem);
  --flagWidth: clamp(30rem, 30rem + 10vw, 42rem);
  --flagHeight: clamp(4rem, 4rem + 2vw, 6.8rem);
  --fsFlags: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
  --fsScore: 4rem;
  --fsPlayerName: 2rem;
  --fsCell: clamp(6rem, 6rem + 3vw, 9.4rem);
  --gameBoardGap: clamp(1rem, 1rem + 1vw, 2rem);
  --green: #06802F;
  --darkGreen: #035B21;
  --borderGameOver: 8px solid #fff;
  font-size: 62.5%;
}

button {
  border: none;
  font-family: var(--ff);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  font-family: var(--ff);
  display: flex;
  align-items: center;
  justify-content: center;
}


#logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: clamp(10rem, 10rem + 10vw, 20rem);
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.score-tag {
  font-size: var(--fsPlayerName);
  border-radius: 10px;
  width: var(--scoreDimensions);
  height: var(--scoreDimensions);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

.player-x {
  background-color: var(--playerX);
}

.player-o {
  background-color: var(--playerO);
}

.draw {
  background-color: var(--draw);
}

.score {
  font-size: var(--fsScore);
}

#board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gameBoardGap);
  background-color: var(--bgSecondary);
  width: fit-content;
  height: fit-content;
  padding: 4rem;
  border-radius: 50px;
}

#game-board {
  display: grid;
  grid-template-columns: var(--cellDimensions) var(--cellDimensions) var(--cellDimensions);
  grid-template-rows: var(--cellDimensions) var(--cellDimensions) var(--cellDimensions);
  gap: var(--gameBoardGap);
  padding: 0 var(--gameBoardGap);
  position: relative;
}

.cell {
  width: var(--cellDimensions);
  height: var(--cellDimensions);
  background-color: var(--cell);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsCell);
  text-transform: uppercase;
  font-weight: 700;
}

.cell:hover {
  background-color: var(--bg);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flag {
  width: var(--flagWidth);
  height: var(--flagHeight);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsFlags);
  font-weight: 500;
}

#game-over-flag {
  position: relative;
  width: var(--flagWidth);
  height: var(--flagHeight);
}

.flag-point {
  width: 7.5rem;
  height: var(--flagHeight);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}

.flag-point.flag-point-1 {
  top: 1.5rem;
  left: -5rem;
}

.flag-point.flag-point-2 {
  top: 1.5rem;
  right: -5rem;
}

#game-over-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: var(--fsFlags);
  background-color: var(--green);
  border-radius: 5px;
  z-index: 5;
  position: relative;
}

.turn-x {
  background-color: var(--playerX);
}

.turn-o {
  background-color: var(--playerO);
}

.new-game {
  background-color: var(--newGame);
  cursor: pointer;
}

.new-game:hover {
  background-color: var(--hover);
}

.reset-score, .reset-game {
  background-color: var(--hover);
  cursor: pointer;
}

.reset-score:hover, .reset-game:hover {
  background-color: var(--newGame);
}

.hide {
  display: none;
}

.line {
  position: absolute;
  border-radius: 5px;
  width: calc(var(--cellDimensions)*3);
}

.line-h {
  left: calc(var(--gameBoardGap)*2);
}

.line-v {
  transform: rotate(90deg);
  top: calc(var(--cellDimensions)*1.5 + 2rem);
}

.first-line-v, .middle-line-v, .last-line-v, .first-line-h, .middle-line-h, .last-line-h, .diagonal-right, .diagonal-left {
  border-top: var(--borderGameOver);
}

.first-line-h {
  top: calc(var(--cellDimensions)/2);
}

.middle-line-h {
  top: calc((var(--cellDimensions) + var(--cellDimensions)/2 + var(--gameBoardGap)));
}

.last-line-h  {
  bottom: calc(var(--cellDimensions)/2);
}

.first-line-v {
  left: calc((var(--gameBoardGap)*2) - (var(--cellDimensions)) - var(--gameBoardGap));
}

.middle-line-v {
  left: calc(var(--gameBoardGap)*2);
}

.last-line-v {
  left: calc((var(--gameBoardGap)*2) + (var(--cellDimensions) + var(--gameBoardGap)));
}

.line-dl, .line-dr {
  width: calc((var(--cellDimensions)*3.5 + var(--gameBoardGap)*4));
  right: calc(0rem - (var(--cellDimensions)/3.5));
  top: calc((var(--cellDimensions) + var(--cellDimensions)/2 + var(--gameBoardGap)));
}

.line-dl {
  transform: rotate(45deg);
}

.line-dr {
  transform: rotate(-45deg);
}