* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #5a1e76;
  --bgSecondary: #2B0040;
  --cell: #43115B;
  --playerX: #48D2FE;
  --playerO: #E2BE00;
  --draw: #BCDBF9;
  --white: #F4F6F5;
  --hover: #C5A0D7;
  --fc: #000;
  --ff: 'Fredoka', sans-serif;
  --cellDimensions: clamp(8rem, 8rem + 4vw, 12rem);
  --scoreDimensions: clamp(7.2rem, 7rem + 4vw, 11rem);
  --flagWidth: 100%;
  --flagHeight: clamp(3rem, 3rem + 2vw, 5rem);
  --fsFlags: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
  --fsScore: 3rem;
  --fsPlayerName: clamp(1.5rem, 1vw, 2rem);
  --fsCell: clamp(6rem, 6rem + 3vw, 9.4rem);
  --gameBoardGap: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
  --green: #06802F;
  --darkGreen: #035B21;
  --borderGameOver: 8px solid #fff;
  font-size: 62.5%;
}

button {
  border: none;
  font-family: var(--ff);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  font-family: var(--ff);
  display: flex;
  align-items: center;
  justify-content: center;
}


#logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: clamp(10rem, 10rem + 10vw, 20rem);
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.score-tag {
  font-size: var(--fsPlayerName);
  border-radius: 10px;
  width: var(--scoreDimensions);
  height: var(--scoreDimensions);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.player-x {
  background-color: var(--playerX);
}

.player-o {
  background-color: var(--playerO);
}

.draw {
  background-color: var(--draw);
}

.score {
  font-size: var(--fsScore);
}

#round {
  position: absolute;
  top: -2rem;
  color: var(--white);
  font-size: var(--fsPlayerName);
  font-weight: 500;
  background-color: var(--cell);
  padding: 1rem 2rem;
  border-radius: 10px;
}

#board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gameBoardGap);
  background-color: var(--bgSecondary);
  width: fit-content;
  height: fit-content;
  padding: 4rem;
  border-radius: 50px;
  position: relative;
}

#game-board {
  display: grid;
  grid-template-columns: var(--cellDimensions) var(--cellDimensions) var(--cellDimensions);
  grid-template-rows: var(--cellDimensions) var(--cellDimensions) var(--cellDimensions);
  gap: var(--gameBoardGap);
  padding: 0 var(--gameBoardGap);
  position: relative;
}

.cell {
  width: var(--cellDimensions);
  height: var(--cellDimensions);
  background-color: var(--cell);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsCell);
  text-transform: uppercase;
  font-weight: 700;
}

.cell:hover {
  background-color: var(--bg);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flag {
  width: var(--flagWidth);
  height: var(--flagHeight);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsFlags);
  font-weight: 500;
}

.turn-x, .turn-o, .winner {
  position: absolute;
  font-size: calc(var(--fsPlayerName) - 0.4rem);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 3;
}

.turn-x, .turn-o {
  background-color: var(--cell);
  bottom: calc(var(--scoreDimensions)*0.91);
}

.turn-x {
  color: var(--playerX);
}

.turn-o {
  color: var(--playerO);
}

.winner {
  background-color: var(--darkGreen);
  color: var(--white);
}

.winner-x, .winner-o, .winner-draw {
  top: calc(var(--scoreDimensions)*0.86);
}

.outline-border-x, .outline-border-o, .outline-border-draw {
  position: absolute;
  width: calc(var(--scoreDimensions) + 2rem);
  height: calc(var(--scoreDimensions) + 2rem);
  border-radius: 10px;
  border: 4px solid var(--cell);
  box-shadow: inset 0 0 1em var(--cell);
  z-index: 1;
}

.outline-border-x.border-win, .outline-border-o.border-win, .outline-border-draw.border-win {
  border: 4px solid var(--darkGreen);
  box-shadow: inset 0 0 1em var(--darkGreen);
}

.new-round {
  background-color: var(--white);
  cursor: pointer;
}

.new-round:hover {
  background-color: var(--hover);
}

.new-game, .reset-game {
  background-color: var(--hover);
  cursor: pointer;
}

.new-game:hover, .reset-game:hover {
  background-color: var(--white);
}

.hide {
  display: none;
}

.line {
  position: absolute;
  border-radius: 5px;
  width: calc(var(--cellDimensions)*3);
}

.line-h {
  left: calc(var(--gameBoardGap)*2);
}

.line-v {
  transform: rotate(90deg);
  top: calc(var(--cellDimensions)*1.5 + 2rem);
}

.first-line-v, .middle-line-v, .last-line-v, .first-line-h, .middle-line-h, .last-line-h, .diagonal-right, .diagonal-left {
  border-top: var(--borderGameOver);
}

.first-line-h {
  top: calc(var(--cellDimensions)/2);
}

.middle-line-h {
  top: calc((var(--cellDimensions) + var(--cellDimensions)/2 + var(--gameBoardGap)));
}

.last-line-h  {
  bottom: calc(var(--cellDimensions)/2);
}

.first-line-v {
  left: calc((var(--gameBoardGap)*2) - (var(--cellDimensions)) - var(--gameBoardGap));
}

.middle-line-v {
  left: calc(var(--gameBoardGap)*2);
}

.last-line-v {
  left: calc((var(--gameBoardGap)*2) + (var(--cellDimensions) + var(--gameBoardGap)));
}

.line-dl, .line-dr {
  width: calc((var(--cellDimensions)*3.5 + var(--gameBoardGap)*4));
  right: calc(0rem - (var(--cellDimensions)/3.5));
  top: calc((var(--cellDimensions) + var(--cellDimensions)/2 + var(--gameBoardGap)));
}

.line-dl {
  transform: rotate(45deg);
}

.line-dr {
  transform: rotate(-45deg);
}

.animation {
  animation: blick 1s ease-in;
}

#developer {
  position: absolute;
  bottom: 5rem;
  font-size: var(--fsPlayerName);
  color: var(--white);
}

#developer a {
  color: var(--draw);
  text-decoration: underline wavy;
  transition: 500ms;
}

#developer a:visited {
  color: var(--draw);
}

#developer a:hover {
  color: var(--hover);
}